# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\NHL Stenden Onedrive\OneDrive - NHL Stenden\Jaar 2\Jaar 2 Periode 3\ICT 2-3-4 Module Dataprocessing\flaskProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
