 {% extends "default.html" %}
 {% block title %}Home{% endblock %}

 {% block content%}

    <h1> Home page </h1>
    <hr>
    <br>
   <form method= "POST">
      <h1><a href="/product">Product page</a></h1>
       <input type="number" name="proID" id="proID" placeholder=" 1, 2 or 3">
      <input type="submit" value="Zoek">
   </form>


    <br>
    <h1><a href="sales">Sale page</a></h1>
    <br>
    <h1><a href="/employees">Employee page</a></h1>
    <br>
    <h1><a href="/customers">Customer page</a></h1>

    <a href="/login">Login</a>

{% endblock %}