{% extends "default.html" %}
{% block title %} Login {% endblock %}
{% block content%}

<form method="POST">
  <h3>Login</h3>

  <div>
    <input
      type="number"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div>
    <input
      type="number"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>

  {{ test }}

  <br />

  <button type="submit">Login</button>
</form>

<a href="/">home</a>

{% endblock %}